

.imageStyle {
  width: 50%;
}

.flex {
  display: flex;
}
.sideNav {
  width: 18%;
}
.menuIcon{
  margin-top: 12px;
  margin-left: 30%;
}

.homeDetails{
  margin-top: 4rem;
}

.mb-1{
  margin-bottom: 1rem;
}

.ml-1{
  margin-left: 1rem;
}
.ml-2{
  margin-left: 2rem;
}
.mt-2{
  margin-top: 2rem;
}
.mt-1{
  margin-top: 1rem;
}
.mt-3{
  margin-top: 3rem;
}
.m-2{
  margin: 1rem;
}

.spaceBetween{
  justify-content: space-between;
}
.textBox{
  width: 44%;
}
.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.centerDiv{ width: 59% }

.save {
  text-align: center;
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly
}
.text-center{
  text-align: center;

}
.gm{
  font-size: 24px;
  font-weight: bold;
}
.date{
  font-size: 20px;
  color: grey;
}

.ml-5{margin-left: 5rem;}
.pt-2{padding-left: 2rem;}
.details{
width: 23%;
}

.name{
  font-size: 18px;
  font-weight: bold;
}
.email{
  font-size: 16px;
  color: grey;
}

.mbt-auto{
  margin-top: auto;
  margin-bottom: auto;
}
.displayHeading{
font-size: 9px;
text-align: left;
color: black;
}

.rotate {
  transform: rotate(180deg);
}